.app-container {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Ensure the container fills the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  width: 100%;
  max-width: 700px;
  overflow-y: auto; /* Enable scrolling if content exceeds the viewport */
  padding: 20px;
}

.question-card {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.option-btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  white-space: normal; /* Allow options to wrap if they're long */
}

.start-container, .summary-container {
  margin-top: 50px;
}
